{% extends "layout.html" %}
{% block title%} Home Page {% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock head %}
{% block content %}
    <body>
      <h1>Recipe Recommendation by Ingredient Names</h1>
      <form action="/submit">

      <!-- <input type="radio" id="ingr" name="search" value="ingr"> -->
      <label>Ingredient Search (Please type your ingredient, separate by commas.) </label>

      <!-- <input type="radio" id="desc" name="search" value="desc">
      <label for="desc">Description Search (Please type a short description)</label><br>
      <br><br> -->
      <!-- <label for="input">Please input the keywords for your search, separate by commas.</label> -->
      <br></br>
      <textarea id="user_text" name="user_text"
      rows="1" cols="80">
      </textarea>
      <br><br>
      <br></br>
      <input type="submit" value="Submit">
      </form>

      <h1>Recipe Recommendation by Recipe names </h1>
      <form action="/submit2">

      <!-- <input type="radio" id="ingr" name="search" value="ingr">
      <label for="ingr">Ingredient Search (Please type your ingredient, separate by commas.) </label> -->


      <label>Description Search (Please type short recipe description)</label><br>
      <!-- <label for="input">Please input the keywords for your search, separate by commas.</label> -->
      <br></br>
      <textarea id="user_text2" name="user_text2"
      rows="1" cols="80">
      </textarea>
      <br><br>
      <br></br>
      <input type="submit" value="Submit2">
      </form>
    </body>


{% endblock content %}
